NODE_ENV = 'development'

PROD = 'production'

PORT = 3000

DATABASE = 'mongodb://<username>:<password>@localhost:27017/'

DB_LOCAL = 'mongodb://localhost:27017/figo-payment'

SESSION_SECRET = 'FIGO-PAYMENT-TECHNOLOGIES-BUSINESSES-123SPTT'

SESSION_NAME = 'stqr'

SESSION_COOKIE_MAX_AGE = 1200000

SESSION_STORE_SECRET = 'JESUS LOVES FIGO-PAYMENT kxu1thaQmTJoUJMaDmic'

SESSION_STORE_TTL = 3600

SESSION_ABSOLUTE_TIMEOUT = 60000